auto {{ wg_interface }}
{% if wg_ip4 | default(false) %}
iface {{ wg_interface }} inet static
    address {{ wg_ip4 }}
    pre-up ip link add $IFACE type wireguard
    pre-up wg setconf $IFACE /etc/wireguard/$IFACE.conf
    post-down ip link del $IFACE
{% if wg_ip4_extraconf | default(false) %}
{% for line in wg_ip4_extraconf %}
    {{ line }}
{% endfor %}
{% endif %}
{% endif %}

{% if wg_ip6 | default(false) %}
iface {{ wg_interface }} inet6 static
    address {{ wg_ip6 }}
{% if not (wg_ip4 | default(false)) %}
    pre-up ip link add $IFACE type wireguard
    pre-up wg setconf $IFACE /etc/wireguard/$IFACE.conf
    post-down ip link del $IFACE
{% endif %}
{% if wg_ip6_extraconf | default(false) %}
{% for line in wg_ip6_extraconf %}
    {{ line }}
{% endfor %}
{% endif %}
{% endif %}